Django==5.0.6
djangorestframework==3.14.0
psycopg==3.1.16
django-cors-headers==4.3.1
pytest==8.0.2
pytest-django==4.7.0
PyJWT==1.7.1
djangorestframework-jwt-4==1.12.0
six==1.16.0
pyyaml==6.0.1
uritemplate==4.1.1
drf-spectacular==0.27.1
